  html,
  body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #map {
    bottom:0px;
    height: 100%;
    left: 327px;
    position: absolute;
    right: 0px;
  }
  .options-box {
    background: #dedede;
    border: 3px solid #999;
    border-radius: 5px;
    height: 100%;
    line-height: 35px;
    padding: 10px 10px 30px 10px;
    text-align: left;
    width: 300px;
  }
  .selected-text {
    font-weight: bold;
  }


